.HeroSection-container {
    width: 100%;
    /* height: 100vh; */
    /* background: skyblue; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
}

.HeroSection-container .intro-herosection {
    text-transform: capitalize;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    /* background: red; */
    width: 100%;
}

.intro-herosection>h2>b {
    color: rgb(194, 55, 236);
    font-weight: 900;
}

.intro-herosection .comumication {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.intro-herosection .comumication>button {
    border: none;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    text-transform: capitalize;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    background: #5129f0;
    background: linear-gradient(97deg, rgba(81, 41, 240, 1) 0%, rgba(224, 4, 19, 1) 100%);
    color: white;
    transition: 0.4s ease-in-out;
}

.intro-herosection .comumication>button:hover {
    background: rgba(0, 0, 0, 0.4);
}

.intro-herosection .comumication>button:focus {
    background: rgba(0, 0, 0, 0.4);
}



.comumication-icon {
    font-size: 18px;
}

/* ----------------------------------------------------------- */

.HeroSection-container .aboutme-herosection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    /* background: blue; */
    flex-wrap: wrap;
    border-radius: 10px;
    width: 100%;

}

.aboutme-herosection .top-aboutme {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
    overflow: hidden;
}



.aboutme-herosection .bottom-aboutme>h2 {
    color: blueviolet;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;
}

.aboutme-herosection .bottom-aboutme>p {
    font-size: 0.8rem;
    line-height: 1.6;
    margin-bottom: 0;

}

@media (max-width:700px) {
    .intro-herosection .comumication {
        gap: 10px;
    }

    .intro-herosection .comumication>button {
        padding: 8px 10px;
        font-size: 10px;
        gap: 5px;
        flex-wrap: wrap;
    }

    .HeroSection-container .aboutme-herosection {
        width: 100%;

    }

    .aboutme-herosection .top-aboutme {
        width: 100%;
    }

    .aboutme-herosection .bottom-aboutme>p {
        font-size: 0.6rem;
        width: 98%;
    }


}